<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 취소</title>
    <link rel="stylesheet" href="../../static/css/front.css">
</head>
<body>
<div class="cancel-reservation-container">
    <h1>예약 취소</h1>
    <div id="reservation-details">
        <!-- 예약 상세 정보가 여기에 동적으로 추가됩니다. -->
    </div>
    <button onclick="cancelReservation()">예약 취소하기</button>
</div>
<script src="../../static/js/script.js"></script>
</body>
</html>
