body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* 공통 스타일 */
.container, .main-container, .collection-container, .posts-container, .history-container, .cancel-reservation-container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #5cb85c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #449d44;
}

a {
    color: #5cb85c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* 메인 페이지 스타일 */
.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.search-bar input,
.search-bar button {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
}

.filter-container {
    display: flex;
    gap: 10px;
    width: 70%;
    justify-content: center;
}

.filter-container button {
    flex: 1;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    border-radius: 20px;
}

/* 모달 스타일 */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

#slider-container {
    position: relative;
    width: 90%; /* 모달 내부에서 벗어나지 않도록 조정 */
    margin: 0 auto; /* 가운데 정렬 */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    position: relative;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

input[type="range"]:nth-of-type(2) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* 정렬 옵션 */
.sort-option {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.sort-option span:first-child {
    visibility: hidden;
    margin-right: 10px;
}

.sort-option.selected span:first-child {
    visibility: visible;
}

.sort-option.selected span:last-child {
    font-weight: bold;
}

/* 기본 버튼 스타일 */
#nearby-btn {
    cursor: pointer;
}

/* 선택된 버튼 스타일 (active 클래스가 있을 때) */
#nearby-btn.active {
    background-color: #007bff;
    color: white;
    border-color: #0056b3;
}

/* 거리 선택 영역 */
.distance-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    gap: 10px;
    background-color: #f0f0f0;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.distance-container p {
    font-size: 16px;
    color: #333;
    margin: 5px;
}

.distance-container span {
    font-weight: bold;
    color: #007bff;
}

.distance-container input[type="range"] {
    width: 90%;
    height: 5px;
    background-color: #ddd;
    cursor: pointer;
    appearance: none;
}

/* 슬라이더 Thumb (원형 버튼) 스타일 */
.distance-container input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #007bff;
    cursor: pointer;
}

.distance-container input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #007bff;
    cursor: pointer;
}

/* 거리 선택 영역의 동작 스타일 (슬라이더의 변화에 맞춰 텍스트 업데이트) */
.distance-container input[type="range"]:focus {
    outline: none;
}

/* 가게 */
.store-list {
    display: flex;
    flex-direction: column;
}

.store-item {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.store-header {
    align-items: center;
    width: 100%;
}

.store-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.store-name h2 {
    font-weight: bold;
    width: 100%;
    margin: 0;
}

.bookmark-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 16px;
    width: 10%;
}

.bookmark-button.active {
    color: #f39c12;
}

.store-address p {
    font-size: 0.9em;
    color: #888;
    margin: 0;
}

.store-info p {
    font-size: 0.9em;
    color: #666;
    margin: 0;
}

/* 하단 네비게이션 스타일 */
.bottom-nav {
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    border-radius: 4px;
    margin-top: 10px;
    width: 100%;
}

.bottom-nav a {
    text-decoration: none;
    color: #333;
    background-color: #ddd;
    padding: 6px;
    flex: 1;
    text-align: center;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    font-size: 14px;
}

.bottom-nav a:hover {
    background-color: #ccc;
}

/* 컬렉션 페이지 스타일 */
.bookmarked-stores {
    display: flex;
    flex-direction: column;
}

.bookmarked-store-item {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 북마크 스타일 (책갈피) */
.bookmark-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    color: #aaa;
}

.bookmark-button.active {
    color: #ffc107; /* 활성화된 북마크 색상 */
}

/* 게시글 페이지 스타일 */
.post-list {
    display: flex;
    flex-direction: column;
}

.post-item {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

/* 게시글 페이지 스타일 */
.posts-container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-search {
    margin-bottom: 20px;
}

.post-search input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.post-list {
    display: flex;
    flex-direction: column;
}

.post-item {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.post-item h2 {
    margin-top: 0;
}

/* 팔로우 버튼 스타일 */
.follow-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.follow-button.following {
    background-color: #aaa;
}

/* 좋아요 버튼 스타일 */
.like-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #aaa;
}

.like-button.active {
    color: #e53935; /* 빨간색 */
}

/* 댓글 페이지 스타일 */
.comment-container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comment-list {
    display: flex;
    flex-direction: column;
}

.comment-item {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.comment-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* 내역 페이지 스타일 */
.reservation-list {
    display: flex;
    flex-direction: column;
}

.reservation-item {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

/* 쿠폰 페이지 스타일 */
.coupon-container {
    text-align: center; /* 가운데 정렬 */
}

.coupon-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* 반응형 그리드 */
    gap: 15px;
}

.coupon-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
}

.coupon-item h2 {
    margin-top: 0;
}

/* 메뉴 페이지 스타일 */
.menu-container h1 {
    text-align: center;
}

.menu-list {
    display: flex;
    flex-direction: column;
}

.menu-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between; /* 메뉴 이름과 가격을 양쪽 끝에 배치 */
    align-items: center;
}

.menu-item img { /* 메뉴 이미지 스타일 (추가) */
    max-width: 80px;
    max-height: 80px;
    margin-right: 15px;
    border-radius: 4px;
}

/* 예약 페이지 스타일 */
.reservation-container h1 {
    text-align: center;
}

.reservation-form {
    margin-top: 20px;
}

.reservation-form label {
    display: block;
    margin-bottom: 5px;
}

.reservation-form select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* 웨이팅 페이지 스타일 */
.waiting-container h1 {
    text-align: center;
}

.waiting-info {
    text-align: center;
    margin-bottom: 20px;
}

.waiting-form {
    margin-top: 20px;
}

.waiting-form label {
    display: block;
    margin-bottom: 5px;
}