<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>댓글 페이지</title>
    <link rel="stylesheet" href="../../../../front.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<div class="comment-container">
    <h1>댓글</h1>
    <div class="comment-list" id="comment-list">
        <!-- 댓글 목록이 여기에 동적으로 추가됩니다. -->
    </div>
    <div class="comment-form">
        <textarea id="comment-input" placeholder="댓글을 작성하세요"></textarea>
        <button onclick="createComment()">댓글 작성</button>
    </div>

    <nav class="bottom-nav">
        <a href="../../../../collection.html">컬렉션</a>
        <a href="../../../../main.html">홈</a>
        <a href="../../../../history.html">내역</a>
        <a href="../../../../posts.html">게시글</a>
    </nav>
</div>
<script src="../../static/js/script.js"></script>
</body>
</html>
