<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>컬렉션 페이지</title>
    <link rel="stylesheet" href="../../../../front.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<div class="collection-container">
    <h1>컬렉션</h1>
    <div class="bookmarked-stores" id="bookmarked-stores">
        <!-- 북마크된 가게 목록이 여기에 동적으로 추가됩니다. -->
    </div>

    <nav class="bottom-nav">
        <a href="collection.html">컬렉션</a>
        <a href="../../../../main.html">홈</a>
        <a href="../../../../history.html">내역</a>
        <a href="posts.html">게시글</a>
    </nav>
</div>
<script src="../../static/js/script.js"></script>
</body>
</html>
